<!DOCTYPE html>
<html>
	<head>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<style type="text/css">
	html, body {
    	margin:0;
   		padding:0;
   		height: 100%;
		font-family: 'Josefin Sans', sans-serif;
	}
	#overall {
		height: 100%;
	}
	#header-row {
	
	}
	#progress-row {
		height: 1%;
	}
	#question-row {
		height: 65%;
	}
	#selection-row {
		height: 25%;
		padding: 5%;
	}
	#next-row {
		height: 100%;
		font-size: 15em;
		align-items: center;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	</style>
	</head>
	<body>
	<div id="overall">
		<div class="row" id="header-row">
		</div>
		<div class="row" id="progress-row">
		</div>
		<div class="row" id="question-row">
		</div>
		<div class="row" id="selection-row">
		</div>
		<div class="row" id="next-row">
        	</div>
        </div>
	<script>
	$.mobile.autoInitializePage = false;
	$(document).ready(function() {
	}
	</script>
	</body>
</html>
