<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
	<title>My kind of dog</title>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<style type="text/css">
	#html {
		margin: 0;
		padding: 0;
		min-height: 100%;
	}
	#body {
		height: 100%;
		width: 100%;
		min-height: 100%;
		margin: 0;
		padding: 0;
	}
	#overall {
		height: 100vh;
		width: 100vw;
		background: #E6E6E6;
		overflow: hidden;
	}
	#header-row {
		background: #43A67B;
	}
	
	/* Extra Small Devices, Phones */ 
    	@media only screen and (min-width : 480px) {

	#head_img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		margin-bottom: 15px;
		height: auto;
		width: 240px;
	}

	#question-string {
		font-family: "Roboto", Arial, sans-serif;
		font-weight: 400;
		font-size: 42px;
		text-align: center;
		color: #575757;
		margin-top: 0;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 30px;
	}

	#gif_img {
    		width: 280px;
	}
	
	#next_img {
		width: 200px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	}

	#head_img {
		display: block;
    		margin-left: auto;
    		margin-right: auto;
    		margin-top: 2%;
    		margin-bottom: 2%;
    		height: auto;
    		width: 50vw;
	}
	
	#progress-row {
		height: 7%;
		text-align: center;
	}
	#question-row {
	}
	#selection-row {
		height: 50%;
		min-height: 50%;
		text-align: center;
		padding-left: 20px;
	}
	#next-row {
		height: 14%;
	}
	#question-string {
		font-family: "Roboto", Arial, sans-serif;
		font-weight: 400;
    		text-align: center;
    		color: #575757;
	}

	#gif_img {
		display: block;
    		margin-left: auto;
    		margin-right: auto;
	}
	#next-button {
		position: fixed;
    		margin-right: auto;
    		margin-left: auto;
		width: 100%;
		bottom: 5%;
	}
	#sml-btn, #med-btn, #lrg-btn, #gnt-btn {
		display: inline-block;
		padding: 0 20px 20px 0;
	}
	#next_img {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	</style>
	</head>
	<body>
	<div class="container" id="overall">
		<div class="row" id="header-row">
		</div>
		<div class="row" id="progress-row">
			<h5 id="progress-string">
			</h5>
		</div>
		<div class="row" id="question-row">
			<h1 id="question-string">We're here to find <br> the right dog for you!
			</h1>
		</div>
		<div class="row"  id="selection-row">
		</div>
		<div class="row" id="next-row">
			<div id="next-button"></div>
        	</div>
        </div>
	<script>
	var question_object = {};
	var response_object = {};
	var next_btn_src = "";
	var start_again_btn_src = "";
	// Fill question_obj with properties here
	question_object["size"] = {};
	question_object["size"]["question_no"] = 1;
	question_object["size"]["question_attr"] = "size";
	question_object["size"]["question_text"] = "Which size of dog do you prefer?";
	question_object["size"]["small_off"] = "{{question_obj.size.img_urls.small_off}}";
	question_object["size"]["small_on"] = "{{question_obj.size.img_urls.small_on}}";
	question_object["size"]["medium_off"] = "{{question_obj.size.img_urls.medium_off}}";
	question_object["size"]["medium_on"] = "{{question_obj.size.img_urls.medium_on}}";
	question_object["size"]["large_off"] = "{{question_obj.size.img_urls.large_off}}";
	question_object["size"]["large_on"] = "{{question_obj.size.img_urls.large_on}}";
	question_object["size"]["giant_off"] = "{{question_obj.size.img_urls.giant_off}}";
 	question_object["size"]["giant_on"] = "{{question_obj.size.img_urls.giant_on}}";

	question_object["locality"] = {};
	question_object["locality"]["question_no"] = 2;
        question_object["locality"]["question_attr"] = "locality";
        question_object["locality"]["question_text"] = "Where do you live?";
        question_object["locality"]["city_off"] = "{{question_obj.locality.img_urls.city_off}}";
	question_object["locality"]["city_on"] = "{{question_obj.locality.img_urls.city_on}}";
	question_object["locality"]["country_off"] = "{{question_obj.locality.img_urls.country_off}}";
	question_object["locality"]["country_on"] = "{{question_obj.locality.img_urls.country_on}}";

	$(document).ready(function() {
		$("#header-row").prepend('<img id="head_img" src={% static 'img/global/logo.png' %} />');
		$("#selection-row").prepend('<img id="gif_img" src={% static 'img/dogs-animated.gif' %} />');
		$("#next-button").prepend('<img id="next_img" src={% static 'img/global/get-started-btn.png' %} />');
		next_btn_src = "{% static 'img/global/next-btn.png' %}";
		start_again_btn_src = "{% static 'img/global/start-again-btn.png' %}";
		$("#next_img").on("click",nextQuestion);
	});
	question_counter = 0;
	question_max = 2;
	question_order = {};
	question_order["1"] = "size";
	response_object["size"] = {};
	response_object["size"]["small"] = 0;
	response_object["size"]["medium"] = 0;
	response_object["size"]["large"] = 0;
	response_object["size"]["giant"] = 0;
	question_order["2"] = "locality";
	response_object["locality"] = {};
	response_object["locality"]["city"] = 0;
	response_object["locality"]["country"] = 0;	
        function nextQuestion() {
		question_counter++;
		$("#selection-row").empty();
		var question_attr = question_order[question_counter.toString()];
		if (question_attr == "size") {
			var progress_update = "Question " + question_counter.toString() + " of 2";
			$("#progress-string").text(progress_update);
			$("#question-string").text(question_object[question_attr]["question_text"]);
			var static_string = "http://mykindofdog.com/static";
			var small_str_off = static_string + question_object["size"]["small_off"];
			var small_str_on = static_string + question_object["size"]["small_on"];
			size_img = $('<div class="square-btns" id="size_img"><div id="row-one" class="row"><img id="sml-btn" /></div></div>');
			$("#selection-row").append(size_img);
			$("#sml-btn").attr("src",small_str_off);
			$("#sml-btn").on("click",function() {
				if ($("#sml-btn").attr("src").toString() == small_str_off) {
					$("#sml-btn").attr("src",small_str_on);
					response_object["size"]["small"] = 1;
				} else {
					$("#sml-btn").attr("src",small_str_off);
					response_object["size"]["small"] = 0;
				}
			});
			var med_str_off = static_string + question_object["size"]["medium_off"];
                        var med_str_on = static_string + question_object["size"]["medium_on"];
                        size_img = $('<img id="med-btn" />');
                        $("#row-one").append(size_img);
                        $("#med-btn").attr("src",med_str_off);
                        $("#med-btn").on("click",function() {
                                if ($("#med-btn").attr("src").toString() == med_str_off) {
                                        $("#med-btn").attr("src",med_str_on);
                                        response_object["size"]["medium"] = 1;
                                } else {
                                        $("#med-btn").attr("src",med_str_off);
                                        response_object["size"]["medium"] = 0;
                                }
                        });
			var large_str_off = static_string + question_object["size"]["large_off"];
                        var large_str_on = static_string + question_object["size"]["large_on"];
                        size_img = $('<div id="row-two" class="row"><img id="lrg-btn" /></div>');
                        $("#size_img").append(size_img);
                        $("#lrg-btn").attr("src",large_str_off);
                        $("#lrg-btn").on("click",function() {
                                if ($("#lrg-btn").attr("src").toString() == large_str_off) {
                                        $("#lrg-btn").attr("src",large_str_on);
                                        response_object["size"]["large"] = 1;
                                } else {
                                        $("#lrg-btn").attr("src",large_str_off);
                                        response_object["size"]["large"] = 0;
                                }
                        });
			var giant_str_off = static_string + question_object["size"]["giant_off"];
                        var giant_str_on = static_string + question_object["size"]["giant_on"];
                        size_img = $('<img id="gnt-btn" />');
                        $("#row-two").append(size_img);
                        $("#gnt-btn").attr("src",giant_str_off);
                        $("#gnt-btn").on("click",function() {
                                if ($("#gnt-btn").attr("src").toString() == giant_str_off) {
                                        $("#gnt-btn").attr("src",giant_str_on);
                                        response_object["size"]["giant"] = 1;
                                } else {
                                        $("#gnt-btn").attr("src",giant_str_off);
                                        response_object["size"]["giant"] = 0;
                                }
                        });


			$("#next_img").attr("src",next_btn_src);
		}

		if (question_attr == "locality") {
                        $("#gif_img").remove();
                        var progress_update = "Question " + question_counter.toString() + " of 2";
                        $("#progress-string").text(progress_update);
                        $("#question-string").text(question_object[question_attr]["question_text"]);
                        var static_string = "http://mykindofdog.com/static";
                        var city_off = static_string + question_object["locality"]["city_off"];
                        var city_on = static_string + question_object["locality"]["city_on"];
                        locality_img = $('<div class="rectangle-btns" id="locality_img"><div id="row-one" class="row"><img id="city-btn" /></div></div>');
                        $("#selection-row").append(locality_img);
                        $("#city-btn").attr("src",city_off);
                        $("#city-btn").on("click",function() {
                                if ($("#city-btn").attr("src").toString() == city_off) {
                                        $("#city-btn").attr("src",city_on);
                                        response_object["locality"]["city"] = 1;
                                } else {
                                        $("#city-btn").attr("src",city_off);
                                        response_object["locality"]["city"] = 0;
                                }
                        });
			var country_off = static_string + question_object["locality"]["country_off"];
                        var country_on = static_string + question_object["locality"]["country_on"];
			locality_img = $('<div id="row-two" class="row"><img id="country-btn" /></div>');
			$("#locality_img").append(locality_img);
                        $("#country-btn").attr("src",country_off);
                        $("#country-btn").on("click",function() {
                                if ($("#country-btn").attr("src").toString() == country_off) {
                                        $("#country-btn").attr("src",country_on);
                                        response_object["locality"]["country"] = 1;
                                } else {
                                        $("#country-btn").attr("src",country_off);
                                        response_object["locality"]["country"] = 0;
                                }
                        });
                        $("#next_img").attr("src",next_btn_src);
                }

		if (question_counter > question_max) {
			$("#progress-string").text("");
			$("#question-string").text("Here are your suggestions");
			$.ajax({url:"http://mykindofdog.com/api/get_dogs",
				type:"GET",
				data: response_object,
				dataType: 'json',
				success: function(res) {
					var response = res;
					var trHTML = '<div style="height: 100%; overflow:scroll;"><table class="table"><thead><th>Breed</th><th>Size</th><th>Locality</th><tbody>';
        				for (dog in response['dogs']) {
            					trHTML += '<tr><td>' + response['dogs'][dog].dog_name + '</td><td>' + response['dogs'][dog].size +  '</td><td>' + response['dogs'][dog].locality + '</td></tr>';
					}
					trHTML += '</tbody></table></div>'
        				$('#selection-row').append(trHTML);
				}
			});
			// Message explaining results are being fetched
			$("#next_img").attr("src",start_again_btn_src);
		}
	};
	</script>
	</body>
</html>
